/* Typography */

@import "variables";

body{
  font-family: "Aleo-Regular", Georgia, serif;
  font-style: normal;
}

h1, h2, h3{
  margin: 0;
}

h1{
  font-size: 100px;
  font-weight: 100;
  color: $dark-grey;
  padding: 0 0 0.5em 0;
}

h2{
  font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: $ruby-red;
}

p{
  color: $common-grey;
  font-size: 18px;
  .intro{
    font-size: 22px;
  }
}

nav ul li a{
  font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
  color: $pale-grey;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  &:hover, &.active{
   color: $common-grey;
  }
}

a.red-btn{
  @include btn;
}
