/* ============================
   Variables
   ============================ */

$white: #fff;
$ruby-red: #891438;
$dark-grey: #4C4C4C;
$common-grey: #494949;
$pale-grey: #AFAFAF;
$light-bg-grey: #EFEFEF;

$blue: blue;