---
layout: default
title: Belfast Ruby
---
<article class="meetup">
  <section class="top-details">
    <h1>{{site.posts.first.title}}</h1>
    <a href="{{site.posts.first.register_link}}" class="red-btn">Register for Event</a>
    {{site.posts.first.when}}
    {{site.posts.first.location}}
    <a href="{{site.posts.first.directions}}">Get Directions</a>
    {{site.posts.first.content}}
  </section>
  <h2>Event Sponsors</h2>
  <ul>
    {% for sponsor in site.posts.first.sponsors  %}
    {% if sponsor.name == "rumble" %}
    <li class="rumble">
    {% else %}
    <li>
    {% endif %}
    {{sponsor.name}}
    <a href="{{sponsor.link}}">
      <img src="{{sponsor.image}}" />
    </a>
    </li>
    {% endfor %}
  </ul>
</article>


<!-- {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %} -->