/* Base Stylesheet for General Styles */

@import "mixins";
@import "variables";

.container{
  margin: 0 auto;
  width: 90%;
}

.clearfix{
  clear: both;
}

body{
  background: url(../images/ruby-shape.svg) no-repeat top right;
  box-sizing: border-box;
}

header.normal_nav{
  border-top: 5px solid $ruby-red;
  padding: 2.4em 0 2em 0;
}

header.mobile_nav{
  display: none;
}

nav ul {
  float: left;
  li{
    display: inline-block;
    padding: 0 1em 0 0;
  }
}

.logo{
  float:right;
}

.top-details{
  width: 80%;
}

.small-info{
  padding: 0;
  margin: 0;
  width: 80%;
  position: relative;
  z-index: 1;
}

ul.when-where{
  display: inline-block;
  margin: 0 2em 0 0;
}

.red-btn{
  position: absolute;
  margin: 5px;
}

.main-event-details{
  padding: 80px 0 0 0;
}

.main-event-details-links{
  padding: 20px 0 0 0;
}


.sponsor-details{
  padding: 65px 0;
  ul{
    padding: 55px 0;
    li{
    list-style: none;
    display: inline-block;
    width: 33%;
    min-width: 230px;
    text-align: center;
    }
  }
}

.bar{
  background: $light-bg-grey;
  padding: 0.1em 0;
  width: 100%;
  @include border-radius(3px);
}

footer{
  width: 100%;
  float: left;
  padding: 4.5em 0;
  background: $ruby-red;
  color: $white;
}

.bio{
  width: 38%;
  padding-right: 15%;
  float: left;
}

.contact{
  width: 30%;
  float: right;
}

.resources-page, .past-events-page{
  padding:0 0 7em 0;
}


