@import "variables";
@import "mixins";

/* Slidey Mobile Nav */

.sidr{
  display:none;
  position:absolute;
  position:fixed;
  top:0;
  left:auto;
  right:-260px;
  height:100%;
  z-index:999999;
  width:230px;
  overflow-x:none;
  overflow-y:auto;
  background:$common-grey;
  color:$white;
}

#sidr {
  padding: 0;
  display: none;
  ul {
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      color: $white;
      text-align: center;
      list-style: none;
      a {
        font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
        color: $light-bg-grey;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        padding: 1em 0;
        background: $common-grey;
        display: block;
        border-bottom: 1px solid lighten($common-grey, 5%);
        &:active{
          color: $white;
          background: darken($common-grey, 10%);
        }
        &:hover{
          background: darken($common-grey, 10%);
        }
      }
    }
  }
}

.burger {
  float: right;
  height: 30px;
  width: 30px;
  background: url('../images/hamburger.svg') no-repeat;
  background-size: 30px 30px;
  text-indent: -999999px;
  padding: 0.3em;
  margin-top: 8px;
}