/* Typography */

@import "variables";

body{
  font-family: "Aleo-Light", Georgia, serif;
  font-style: normal;
  font-weight: 100;
}

h1, h2, h3, h4, .number, p{
  margin: 0;
}

h2, h3, h4{
  font-weight: normal;
}

h1{
  font-family: "Aleo-Regular", Georgia, serif;
  font-size: 100px;
  font-weight: 100;
  color: $dark-grey;
  padding: 0 0 0.4em 0;
}

h2{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: $ruby-red;
  .underline{
    border-bottom: 3px solid $ruby-red;
    padding-bottom: 4px;
    font-weight: 600;
  }
}

h3{
  color: $common-grey;
  font-size: 20px;
  line-height: 1.2em;
  padding: 1em 0 0.4em 0;
  font-family: "Aleo-Regular", Georgia, serif;
}

p{
  color: $common-grey;
  font-size: 18px;
  .intro{
    font-size: 22px;
  }
  a{
    color: $common-grey;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

/* Header */

.about-top p{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  color: $light-bg-grey;
  font-size: 15px;
  font-weight: 300;
}

.mobile_nav a.belfastruby{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  color: $light-bg-grey;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.07em;
}

nav ul li a, .number{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  color: $pale-grey;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.07em;
  &:hover, &.active{
   color: $common-grey;
  }
  &.active{
    font-weight: 400;
  }
}

/* Main Event Details */

a.red-btn{
  @include btn;
  display: inline-block;
}

.when-where{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  li{
    color: $dark-grey;
  }
  a{
    color: $dark-grey;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

.main-event-details{
  color: $common-grey;
  font-size: 18px;
  line-height: 27px;
  .intro{
    width: 48%;
    float: left;
    padding-right: 2%;
    h3{
      font-size: 22px;
      line-height: 41px;
      font-weight: 200;
    }
  }
  .content-bulk{
    width: 48%;
    float: right;
    padding-left: 2%;
    p{
      margin: 0 0 1.3em 0;
    }
  }
}

.bar {
  p {
    font-size: 16px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1.7em;
    padding: 1.2em 2em;
  }
  a{
    margin-left: 6px;
    color: $common-grey;
    text-decoration: none;
    border-bottom: 2px solid $common-grey;
    padding-bottom: 2px;
    font-weight: 400;
    &:hover{
      text-decoration: none;
      border-color: $ruby-red;
      color: $ruby-red;
    }
  }
}

/* Footer */

footer .bio p{
  color: $white;
  margin: 0;
  font-size: 22px;
  line-height: 39px;
}

footer .contact li{
  list-style: none;
  line-height: 40px;
  font-size: 18px;
  a{
    color: $white;
    text-decoration: none;
  }
  i{
    padding-right: 4px;
  }
}

/* Resources page */


.resources-page{
  h2{
    padding: 1.5em 0 0.5em 0;
  }
}

ul.ruby-links{
  margin: 0;
  h3{
    display: inline-block;
    padding-top: 0.2em;
  }
  li{
    list-style: none;
    line-height: 25px;
    padding-top: 2.3em;
    &:first-child{
      padding-top: 1em;
    }
    &:last-child{
      padding-bottom: 1em;
    }
    a{
      color: $blue-link;
      padding: 5px 0 5px 0;
      display: inline-block;
      &:hover{
        color: $blue-link-hover;
      }
    }
    h3 a{
      text-decoration: none;
      color: $common-grey;
      font-size: 20px;
      &:hover{
        color: $ruby-red;
      }
    }
    p{
      width: 80%;
      max-width: 780px;
      padding: 0.2em 0;
    }
  }
}


/* Past Events Page */

.number{
  display: inline-block;
  padding-right: 11px;
  color: $ruby-red;
  font-size: 19px;
  font-weight: 500;
}



