/* Typography */

@import "variables";

body{
  font-family: "Aleo-Regular", Georgia, serif;
  font-style: normal;
  font-weight: 100;
}

h1, h2, h3, h4, .number, p{
  margin: 0;
}

h1{
  font-size: 100px;
  font-weight: 100;
  color: $dark-grey;
  padding: 0 0 0.4em 0;
}

h2{
  font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: $ruby-red;
  .underline{
    border-bottom: 3px solid $ruby-red;
    padding-bottom: 4px;
    font-weight: 600;
  }
}

h3{
  color: $common-grey;
  font-size: 20px;
  line-height: 2em;
  padding-bottom: 0.1em;
}

p{
  color: $common-grey;
  font-size: 18px;
  .intro{
    font-size: 22px;
  }
}

nav ul li a, .number{
  font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
  color: $pale-grey;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  &:hover, &.active{
   color: $common-grey;
  }
}

a.red-btn{
  @include btn;
  display: inline-block;
}

.when-where{
  font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  li{
    color: $dark-grey;
  }
  a{
    color: $dark-grey;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

.main-event-details{
  color: $common-grey;
  font-size: 18px;
  line-height: 27px;
  h3{
    font-size: 22px;
    line-height: 41px;
    font-weight: 200;
    width: 48%;
    float: left;
    padding-right: 2%;
  }
  p{
    width: 48%;
    float: right;
    margin: 0 0 1.3em 0;
    padding-left: 2%;
  }
}

.bar {
  p {
    font-size: 16px;
    font-family: "Proxima Nova" Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1.7em;
    padding: 1.2em 2em;
  }
  a{
    margin-left: 6px;
    color: $common-grey;
    text-decoration: none;
    border-bottom: 2px solid $common-grey;
    padding-bottom: 2px;
    font-weight: 400;
    &:hover{
      text-decoration: none;
      border-color: $ruby-red;
      color: $ruby-red;
    }
  }
}

footer .bio p{
  color: $white;
  margin: 0;
  font-size: 22px;
  line-height: 39px;
}

footer .contact li{
  list-style: none;
  line-height: 40px;
  font-size: 18px;
  a{
    color: $white;
    text-decoration: none;
  }
  i{
    padding-right: 4px;
  }
}

/* Resources page */


.resources-page{
  h2{
    padding-top: 2em;
  }
}

ul.ruby-links{
  margin: 0;
  h3{
    padding-top: 1.2em;
    display: inline-block;
  }
  li{
    list-style: none;
    line-height: 25px;
    &:last-child{
      padding-bottom: 1em;
    }
    a{
      color: $blue-link;
      line-height: 35px;
      &:hover{
        color: $blue-link-hover;
      }
    }
    h3 a{
      text-decoration: none;
      color: $common-grey;
      font-size: 20px;
      &:hover{
        color: $ruby-red;
      }
    }
    p{
      width: 80%;
      padding: 0.2em 0;
    }
  }
}

.number{
  display: inline-block;
  padding-right: 11px;
  color: $ruby-red;
  font-size: 19px;
  font-weight: 500;
}



