/*
Syntax error: Invalid CSS after "...neral Styles *\/": expected "{", was "@import "mixins";"
        on line 3 of /Users/melissakeizer/apps/belfastruby.com/assets/sass/_base.scss
        from line 9 of /Users/melissakeizer/apps/belfastruby.com/assets/sass/main.scss

1: /Users/melissakeizer/apps/belfastruby.com/assets/sass/main.scss

Backtrace:
/Users/melissakeizer/apps/belfastruby.com/assets/sass/_base.scss:3
/Users/melissakeizer/apps/belfastruby.com/assets/sass/main.scss:9
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:534:in `block'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `load'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `<main>'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `eval'
/Users/melissakeizer/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...neral Styles */\": expected \"{\", was \"@import \"mixins\";\"\A         on line 3 of /Users/melissakeizer/apps/belfastruby.com/assets/sass/_base.scss\A         from line 9 of /Users/melissakeizer/apps/belfastruby.com/assets/sass/main.scss\A \A 1: /Users/melissakeizer/apps/belfastruby.com/assets/sass/main.scss"; }
