/* Belfast Ruby Color Variables
-------------------------------------------------------------------------------*/

// Links
$linkColor: #2B4697;
$linkColorHover: #1F326D;
$linkColorActive: #B25213;

// Text Colors
$textColorDark: #2D2C2D; //main text color
$textColorMid: #666; 
$textColorLight: #CCCCCC;
$textColorRed: #881339;

// Background Colors 
$backgroundDark: #2C2B2C;
$backgroundLight: #F3F2F5;

// Brand Colors
$brandPink: #B61447;