@import "partials/color";


/* Structure for Mobile & devices which don't support Media Queries
-------------------------------------------------------------------------------*/

#header-container, #main-container {
  width: 100%;
}

#main-container {
  overflow: auto;
  margin-top:130px;
}

#header, #main {
  display: block;
  padding: 0 2.7777778%; /* 20/720 */
}




/* Structure for devices starting at 720px width (Tablets)
-------------------------------------------------------------------------------*/

@media only screen and (min-width: 720px) {
  
  
  #header, #main {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  #main-container {
    margin-top: 60px;
  }
  
  #content {
    float: left;
    width: 100%;
  }
  
  #sidebar {
    float: left;
    width: 100%;
  }
  
  .col {
    &.one, &.two {
      width: 44.4444444%; /* 320/720 */
      float: left;
    }
  
    &.one {
      margin-right: 5.5555556%; /*40/720*/
    }
  }
 
}


/* Structure for devices starting at 1280px width (Large Format)
-------------------------------------------------------------------------------*/

@media only screen and (min-width: 1000px) {
  

  #content {
    float: right;
    width: 66.666666%;
  }
  
  #sidebar {
    float: left;
    width: 33.333333%;
  }
  



}