@import "partials/color";

/* Base Typography for mobile and browsers which don't support media-queries
-------------------------------------------------------------------------------*/

body {
  color: $textColorDark;
  font-family: "helvetica", arial, sans-serif;
  font-size: 100%; /* 16 */
  line-height: 1.3125em; /* 21/16*/

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  line-height: 130%;
}
h1 {
  font-family: "ocr-a-std",sans-serif;
  text-transform: uppercase;
  font-size: 1.125em; /*18/16*/
  font-weight: normal;
  line-height: 114.2857143%;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.125em; /*18/16*/
  margin-bottom: 20px;
  color: $textColorRed;
  
}

h3 {
  font-size: .9375em; /*15/16*/
  font-weight: bold;
  margin-bottom: 5px;
}

h4 {
  font-size: 1em; /*16/16*/
}

h5, h6 {
  font-size: 0.875em; /*14/16*/ 
}


p, ul, dl, ol {
  margin-bottom:2em;
  font-size: .8125em; /* 13/16*/
}

p.lead-in {
  font-size: 1.333333333em; /*20/15*/
  line-height: 1.454545455em; /*32/22*/
}

section.post ul, section.page ul, .entry ul {
  list-style: disc inside;
  li{
    padding-left: 40px;
    margin-bottom: 1em;
  }
}

section.page h2 {
  padding: 1em 0;
}

a {
  color: $linkColor;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: $linkColorHover;
  }
  &:active {
    color: $linkColorActive;
  }
}

blockquote {
  font-style: italic;
  font-weight: 600;
  color: $brandPink;
  &.pull-quote {
    font-size: 24px;
    line-height: 36px;
  }
}


::selection {
    background:$brandPink;
    color:#fff;
}
::-moz-selection {
    background:$brandPink;
    color:#fff;
}
